{% extends "base.html" %}

{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading">Choose a medical shop nearby</div>
                <form action="/uploader"> 
                    <!-- //backend -->
                    <input type="radio" id="html" name="medicalshop" value="Ramu Medicals">
                    <label for="ramumedicals">Ramu Medicals</label><br>
                    <input type="radio" id="krishnamedicals" name="fav_language" value="Krishna Medicals">
                    <label for="krishnamedicals">Krishna Medicals</label><br>
                    <input type="radio" id="ABC Pharma" name="fav_language" value="ABC Pharma"><br>
                    <label for="ABC Pharma">ABC Pharma</label><br>
                    <label for="prescription">Upload prescription</label><br>
                    <input type="file" id="prescription" name="prescription" accept="image/png, image/jpeg"> <br>
                    <input type="submit" />
                  
            </div>
        </header>
        {% endblock %}